html, body {
    background-color: #c2c2c2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    max-width: fit-content;
    padding: 1rem;
    margin: 1rem;
}

button{
    margin-top: 1rem;
    width: 10rem;
    background-color: #0a6ec0;
    color: white;
}

button:hover{
    background-color: #045494;
    cursor: pointer;
}

.right{
    color: green;
}

.wrong{
    color: red;
}

.question{
    color: black;
}